body {
    background-image: url('../img/extra_clean_paper.png');
    background-repeat: repeat;
    font-family: 'Roboto', sans-serif;
}

/* accounts / session styling */
#logout {
  display: none;
}

#google-signin {
  margin-top: 20px;
}

#google-signin img {
  cursor: pointer;
}

#google-signin strong {
  display: block;
  margin-bottom: 20px;
}

/* chat styling */
#chat textarea {
    width: 100%;
    resize: none;
}
  
  #chat-messages ul {
    list-style: none;
    padding-left: 10px;
}
  
  #chat-messages {
    overflow-y: auto;
}
  
  #send-chat {
    float: right;
}

/* games list styling */
#games ul {
    list-style: none;
    padding-left: 10px;
}

.image-wrapper {
  text-align: center;
}

.image-wrapper img{
}


